html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url(Images/obps8k9t84i81.jpg);
    color: #ffffff;
    font-family: montserrat;
}
h1 {
    font-size: 6em;
    text-align: center;
    margin-top: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.discord-link {
    display: inline-block;
    margin-top: 20px;
    transform: translate(870px, -150px); /* 1st - Left, + Right. 2nd - Up, + Down */
    position: relative;
}
.discord-button {
    width: 200px;
    height: auto;
    margin-top: 20px;
    border-radius: 15px;
}
.CC-link {
    display: inline-block;
    margin-top: 20px;
    transform: translate(110px, 60px); /* 1st - Left, + Right. 2nd - Up, + Down */
    position: relative;
}
.CC-button {
    width: 200px;
    height: 225px;
    margin-top: 20px;
    border-radius: 15px;
}
.plugins-link {
    display: inline-block;
    margin-top: 20px;
    transform: translate(-90px, -150px); /* 1st - Left, + Right. 2nd - Up, + Down */
    position: relative;
}
.plugins-button {
    width: 540px;
    height: 155px;
    margin-top: 20px;
    border-radius: 15px;
}
.box2-link {
    display: inline-block;
    margin-top: 20px;
    transform: translate(-410px, 60px); /* 1st - Left, + Right. 2nd - Up, + Down */
    position: relative;
}
.box2-button {
    width: 540px;
    height: 225px;
    margin-top: 20px;
    border-radius: 15px;
}
.box3-link {
    display: inline-block;
    margin-top: 20px;
    transform: translate(90px, -250px); /* 1st - Left, + Right. 2nd - Up, + Down */
    position: relative;
}
.box3-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.box3-button {
    display: block;
    width: 150px;
    height: auto;
    border-radius: 15px;
}

.box3-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(75%, -1250%);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    pointer-events: none;
}
.underline {
    text-decoration: underline;
}
footer {
    background-color: lightblue;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}
.centre-image {
    display: flex;
    align-items: center;
    width: 100%;
}